* {
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.onewin {
    position: absolute;
    top: 50%;
    left: 50%;
    width:45%;
    text-align: center;
    padding: 20px 30px;
    transform: translate(-50% , -50%);
}

.onewin img {
    width: 7.6rem;
    border-radius: 100px;
}

.onewin h1 {
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 700;
}

.onewin h2 {
    margin: 0 auto;
    width: 90%;
    font-size: 1.1rem;
    line-height: 1.7rem;
    font-weight: 500;
    text-transform: capitalize;
}

.onewin p {
    font-size: 0.8rem;
    line-height: 2rem;
    font-weight: 500;
}

.onewin a {
    display: block;
    text-decoration: none;
    padding: 0.9rem 1.2rem;
    font-size: 1.1rem;
    line-height: 2rem;
    font-weight: 500;
    background-color: rgba(24, 23, 33, .7);
    border: 1px solid #454b5f;
    border-radius: 8px;
}

.onewin a:hover{
    background-color: #ffffff ;
    color: rgba(24, 23, 33, .7);
}

.onewin h6 {
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 400;
}

@media (max-width:768px) {
    .onewin{
        width:85%;
    }
}